/*




*/
@media print{#BUMPER{display:none;}}

.logobox {
	float:left;
	font-size:medium;
	font-weight:bold;
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
	line-height:95%;
	border-radius:2px;
	border-style:solid;
	border-width:0px;
	border-color:black; 
	padding:5px 20px 5px 20px;
	margin:5px 5px 0px 0px;
	color:white;
}
.welcome {color:tan;	float:left;font-size:x-large;}
.jumbo{font-size:60px; }

.border-left {border-left:2px solid #000; height:100%;}
.bolivian {background: linear-gradient(red, yellow, yellow, green); }
#BUMPER {background:skyblue; height:50px; width:100%;}
.cazbart {background: linear-gradient(skyblue, tan); }
.cazbar {background: linear-gradient(rgb(91,192,222), rgb(91,192,222), tan); }
.casbah {background: linear-gradient(rgb(91,192,222), rgb(91,192,222), tan); }
.centre{text-align:center;}

/* box-shadow: 2px 2px 4px gray; */


h1 {font-size:16pt; font-family:'segoe UI'; padding-top:10px; font-weight:bold; }
h2 {font-size:14pt; font-family:'segoe UI'; padding-top:10px; font-weight:bold; }
h3 {font-size:12pt; font-family:'segoe UI'; padding-top:10px; font-weight:bold; }
.hide {display:none;}
/* .highlite { background-color:skyblue;} */
.highlite { background-color:rgb(91,192,222) !important;} 
.highlight { background-color:rgb(91,192,222) !important;} 
.overflow {height:200px;}
.marz{margin-top:0px; margin-bottom:0px;}
.hide9999 {display:none; z-index:9999;}

fieldset {border: 0;}
.savable {width:200px;}
.small {font-size:xx-small;}

.tan {background-color:tan;}

label {display: block;  margin: 30px 0 0 0; }
select {width: 200px; }
.row_{border-bottom:1px solid #aaa;}
.row__{border-top:2px solid #000;}
.row___{border-top:2px solid #000; border-bottom:1px solid #aaa;} 
.row-head {font-size:small; font-weight:bold;}
.zebra-stripetan {background-color:tan;}
.zebra-stripegrey {background-color:#e0e0e0;}
.zebra {background-color:#e8e8e8;}


p {font-size:11pt; font-family:'segoe UI'; height:100% !important;}

textarea {font-size:11pt; font-family:'segoe ui'; background-color:silver;}


.pocket {
	margin:5px;
	padding:5px;
	height:250px;
	display:block;
	border:1px solid gray;
}
.pocket-caption{height:20px;}
.pocket-row{height:300px;}

.user-select-none {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}