<div id="casdoc-template-old">
	<div>
		<img src="./uploads/logo.png" style="width:100px; float:left;"></img>
		<h2 id="casdoc-title" v-on:click="change_title" style="float:right;">{{title}}</h2>
		<div id="casdoc-content">casdoc content goes here...</div>
	</div>
</div>

<div id="casdoc-template">
<table>
	<thead><tr><th id="header-placeholder" class="col-xs-12"></th></tr></thead>
	<tbody>
		<tr><td>
		<div id="project-block-placeholder" class="col-xs-6">project title block</div>
		<div id="title-block-placeholder" class="col-xs-6">report title block</div>
		</td></tr>
		<tr class="breakable"><td id="svr-disclaimer-placeholder" class="row__">disclaimer</td></tr>
		<tr class="breakable"><td id="svr-notes-placeholder">notes-printable</td></tr>
		<tr class="breakable"><td id="svr-photos-placeholder">photos-printable</td></tr>
	</tbody>
</table>
</div>

<div id="project-block-template">
<div    >
	<div class="row row__">
		<strong class="col-xs-4">Project No:</strong>
		<p class="col-xs-8">{{project_id}}</p>
	</div>

	<div class="row row">
		<strong class="col-xs-4">Project Name:</strong>
		<p class="col-xs-8">{{project_name}}</p>
	</div>

	<div class="row row">
		<strong class="col-xs-4">Project Address:</strong>
		<p class="col-xs-8">{{address}}</p>
	</div>

	<div class="row row">
		<strong class="col-xs-4">Contractor:</strong>
		<p class="col-xs-8">{{contractor}}</p>
	</div>

	<div class="row row">
		<strong class="col-xs-4">Permit No:</strong>
		<p id="svr-permit" class="col-xs-8">{{permit}}</p>
	</div>
</div>
</div>

<div id="title-block-template">
	<div>
	<div class="row row__">
		<strong class="col-xs-4">Report No:</strong>
		<p class="col-xs-8"
		title="click for options..."
		field="docnum"
		onmouseenter="$(this).addClass('highlite')"
		onmouseleave="$(this).removeClass('highlite')"
		v-on:click="menu">{{docnum}}</p>
	</div>

	<div class="row row">
		<strong id="svr-date" class="col-xs-4">Date of Visit:</strong>
		<p class="col-xs-8"
		title="click to edit, then double-click to save..."
		field="date"
		onmouseenter="$(this).addClass('highlite')"
		onmouseleave="$(this).removeClass('highlite')"
		v-on:click="edit"
		>{{date}}</p>
	</div>

	<div class="row row">
		<strong  class="col-xs-4">Date Issued:</strong>
		<p class="col-xs-8"	
		title="click to edit, then double-click to save..."
		field="date_issued"
		onmouseenter="$(this).addClass('highlite')"
		onmouseleave="$(this).removeClass('highlite')"
		v-on:click="edit">{{date_issued}}</p>
	</div>

	<div class="row row">
		<strong  class="col-xs-4">Reviewer:</strong>
		<p class="col-xs-8"	
		title="click to edit, then double-click to save..."
		field="author"
		onmouseenter="$(this).addClass('highlite')"
		onmouseleave="$(this).removeClass('highlite')"
		v-on:click="edit">{{author}}</p>
	</div>

	<div class="row row">
		<span class="col-xs-4"
		title="click to edit, then double-click to save..."
		onmouseenter="$(this).addClass('highlite')"
		onmouseleave="$(this).removeClass('highlite')">
		<strong field="misc_key" v-on:click="edit" v-if="misc_key">{{misc_key}}</strong>
		<strong field="misc_key" v-on:click="edit" v-else="misc_key">--</strong>
		</span>
		<span class="col-xs-8"
		title="click to edit, then double-click to save..."
		onmouseenter="$(this).addClass('highlite')"
		onmouseleave="$(this).removeClass('highlite')">
		<p field="misc_valu" v-on:click="edit" v-if="misc_valu">{{misc_valu}}</p>
		<p field="misc_valu" v-on:click="edit" v-else="misc_valu">--</p>
		</span>
	</div>
	</div>
</div>

<div id="comment-item-template">
	<div class="row">
	<p class="col-xs-1 marz">{{comment.no}}</p>
	<p class="col-xs-10 border-left marz">{{comment.text}}</p>
	<p class="col-xs-1 border-left marz">{{comment.ref}}</p>
	</div>		
</div>
	
<div id="comment-section-template">
	<div>
	<div class="row">
	<h3 class="col-xs-1 marz">No.</h3>
	<h3 class="col-xs-10 border-left marz">Comment</h3>
	<h3 class="col-xs-1 border-left marz">Ref</h3>
	</div>
	<comment-item
		v-for="item in comments"
		v-bind:comment="item"
		v-bind:key="item.no"
	>{{item}}</comment-item>
	</div>
</div>

<div id="image-section-template">
	<div>
	<h3>Image section...</h3>
	</div>
</div>

<div id="signature-template">
	<div>
	<h3>Signature</h3>
	<p>A Siddeley</p><hr>
	<p>10-Apr-2019</p>
	</div>
</div>

<template id="welcome-template">
	<div class="container" v-show="seen" v-bind:style="styleObject">
	<br><br><br><br>
	<div class="row">
	<div class="col-md-1"></div>
	<center class="col-md-4 logobox casbah jumbo">* C-A *<br>S B A H</center>
	<div class="col-md-2 welcome">Contract<br>Administration<br>System<br></div>
	<div class="col-md-1 welcome"></div>
	<div class="col-md-2 welcome">Be<br>Architectural<br>Heroes</div>
	<div class="col-md-2"></div>
	</div>
	<div class="row" >
	name:{{name}}
	</div>
	</div>
</template>	

<div id="deficiency-review-report-template">
	<table>
	<thead><tr><th class="col-xs-12">
		<img src="./uploads/logo.png" style="width:100px; float:left;"></img>
		<h2 id="casdoc-title" v-on:click="change_title" style="float:right;">title</h2>
	</th></tr></thead>
	<tbody>
		<tr><td>
		<div class="col-xs-6"><project-block></project-block></div>
		<div class="col-xs-6"><title-block></title-block></div>
		</td></tr>
		<tr class="breakable"><td class="row__">This report is a general review of progress and construction activities on site.  Architectural Work was visually reviewed on a random basis for general conformity with Architectural Contract Documents prepared by this firm.  Refer also to Mechanical and Electrical field reports issued separately.</td></tr>
		<tr class="breakable"><td><comment-section></comment-section></td></tr>
		<tr class="breakable"><td><image-section></image-section></td></tr>
		<tr class="breakable"><td><signature></signature></td></tr>
	</tbody>
	</table>
</div>





