
.brandbox {
	font-size:medium;
	font-weight:bold;
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
	border-radius:10px;
	border-style:solid;
	border-width:2px;
	padding:5px 20px 5px 20px;
	margin:5px 5px 0px 0px;
}

.Alpha {background:aquamarine;} /*aqua, aquamarine, azure, #A000A0*/
.Bravo {background:blueviolet;} /*blueviolet, bisque, blue, brown, beige*/
.Charlie  {background:coral;} /*chartreuse coral crimson cyan cadetblue*/
.Delta {background:darkmagenta;} /*dimgray, darkslategray, deepskyblue, dogerblue, darkmagenta*/
.Echo {background:#00EEEE;} /*magenta*/

.Foxtrot {background:white;}
.Golf {background:orange;}
.Hotel{background:linear-gradient(90deg, orange 80%, blue 85%);}
.India {background:blue;}
.Juliet {background:linear-gradient(90deg, blue 80%, gold 85%);}
.Kilo {background:gold;}
.Lima  {background:linear-gradient(90deg, gold 80%, green 85%);}

.Mike {background:green;}
.November {background:linear-gradient(90deg, green 80%, saddlebrown 85%);}
.Oscar {background:saddlebrown;}
.Papa {background:linear-gradient(90deg, saddlebrown 80%, black 85%);}
.Quebec {background:linear-gradient(90deg, black 80%, gold 90%, black 95%);}

.Romeo {background:linear-gradient(90deg, black 70%, gold 75% 85%, black 90%);}
.Sierra  {background:linear-gradient(90deg, black 60%, gold 65% 90%, black 95%);}
.Tango {background:linear-gradient(90deg, black 50%, gold 55% 90%, black 95%);}
.Uniform {background:linear-gradient(90deg, black 40%, gold 45% 90%, black 95%);}
.Victor {background:linear-gradient(90deg, grey 40%, gold 45% 90%, grey 95%);}
.Whiskey {background:linear-gradient(90deg, darkgrey 50%, gold 55% 90%, darkgrey 95%);}
.Xray {background:linear-gradient(90deg, silver 60%, gold 65% 90%, silver 95%);}

.Yankee {background:linear-gradient(90deg, beige 70%, gold 75% 90%, beige 95%);}
.Zulu {background:linear-gradient(90deg, white 80%, gold 85% 90%, white 95%);}
