<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title id="browser_tab" >CASBAH</title>

<script type='text/javascript' src="offline/jquery.js"></script>
<script type='text/javascript' src="offline/jquery-ui.js"></script>

<link rel="stylesheet" type="text/css" href="offline/jquery-ui.theme.css">
<link rel="stylesheet" type="text/css" href="offline/jquery-ui.structure.css">
<link rel="stylesheet" type="text/css" href="offline/jquery-ui.css">


<!-- bootstrap Libraries after jQuery -->
<script type='text/javascript' src="offline/bootstrap.min.js"></script>
<link rel="stylesheet" href="offline/bootstrap.min.css">

<!-- casbah libraries & CSS -->
<script type="text/javascript" src="client/casbah.js"></script>
<script type="text/javascript" src="client/tables_fs.js"></script>
<script type="text/javascript" src="client/tableview_fs.js"></script>
<link rel="stylesheet" type="text/css" href="views/casbah.css">

<!-- Handlebars Template engine -->
<script type='text/javascript' src="offline/handlebars-v4.0.10.js"></script>


<script type="text/javascript">
//Global parameters
var $PP=casbah.parameters;

//prevent accidental image drop
$(window).on({
	"drop": function(e){ e=e||event; e.preventDefault(); false;},
	"dragover":function(e){ e=e||event; e.preventDefault(); false;}
});

//inhibit the browser's right-click context menu
$(document).on("contextmenu", false);


//READY
$(function() { 

	casbah.project.id_template=Handlebars.compile($("#project-ids-template").html());
	//casbah.project.$dialog=$("#project_dialog");
	//casbah.project.$dialog.dialog({autoOpen:false, title:"Projects"});
	casbah.project.data_template=Handlebars.compile($("#project-data-template").html());

	//Setup Handlebars
	Handlebars.registerHelper("plusOne", function(val, options){return parseInt(val)+1;});
	//Handlebars.registerHelper("split", function(str, options){return str.split(",");});

	
	//bumper shoves the top of the dock-area down to prevent the static navbar from covering it
	$("#BUMPER").height($("#NAVBAR").innerHeight());

	$(window).on("resize",function(){$("#BUMPER").height($("#NAVBAR").innerHeight());});

	//load html from file the first time otherwise just show the right element containing the html   
	casbah.view("welcome.html");
}); 


</script>

</head>
<body class="user-select-none">
<nav id="NAVBAR" class="navbar navbar-default navbar-fixed-top" >
<!-- nav id="zbar" class="navbar navbar-default navbar-static-top " -->
	<div class="container-fluid">

		<center class="logobox cazbar col-md-2">
		<div>* C-A *</div>
		<div>S B A H</div>
		</center><br>

		<!-- Nav tabs -->
		<ul class="nav nav-tabs">
		
		<li class="dropdown">
		<a class="dropdown-toggle" href="#" data-toggle="dropdown"
		>Action<span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li class="disabled"><a href="#">Action items</a></li>
			<li class="disabled"><a href="#">Project status</a></li>
			<li class="disabled"><a href="#">Outstanding RFIs</a></li>
			<li class="disabled"><a href="#">Outstanding Shops</a></li>
		</ul>
		</li>

		<li class="dropdown">
		<a class="dropdown-toggle" href="#" data-toggle="dropdown"
		>Billing<span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li class="disabled"><a href="#">Allowance Authorization Letters</a></li>
			<li class="disabled"><a href="#">Billing (GC progress draws)</a></li>
			<li class="disabled"><a href="#">Certificates of Payment</a></li>
			<li class="disabled"><a href="#">Progress Summary</a></li>
		</ul>
		</li>

		<li class="dropdown">
		<a class="dropdown-toggle" href="#" data-toggle="dropdown"
		>Contract<span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li class="disabled"><a href="#">Contract</a></li>
			<li class="disabled"><a href="#">Addendums</a></li>
			<li class="disabled"><a href="#">Bidders Q&amp;A</a></li>
			<li class="divider"><li>
			<li class="disabled"><a href="#">Drawings</a></li>
			<li class="disabled"><a href="#">Specifications</a></li>
			<li class="disabled"><a href="#">Schedule</a></li>	
			<li class="divider"><li>
			<li class="disabled"><a href="#">Change Log</a></li>
			<li class="disabled"><a href="#">Change Contemplated</a></li>
			<li class="disabled"><a href="#">Change Order</a></li>
			<li class="disabled"><a href="#">Change Directive</a></li>
		</ul>
		</li>
	
		<li class="dropdown">
		<a class="dropdown-toggle" href="#" data-toggle="dropdown"
		>Gallery<span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li onclick="casbah.view('collection.html')"><a href="#">Photo Collection</a></li>
			<li onclick="casbah.view('collection_log.html')"><a href="#">Photo Collection Log</a></li>
			<li class="divider"><li>
			<li class="disabled"><a href="#">Sketch</a></li>
			<li class="disabled"><a href="#">Sketch Log</a></li>
		</ul>
		</li>

		<li class="dropdown">
		<a class="dropdown-toggle" href="#" data-toggle="dropdown"
		>Letters<span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li class="disabled"><a href="#">Conformance Letter</a></li>
			<li class="disabled"><a href="#">Conformance Letter Log</a></li>
			<li class="divider"><li>
			<li class="disabled"><a href="#">Site Memo</a></li>
			<li class="disabled"><a href="#">Site Memo Log</a></li>
			<li class="divider"><li>
			<li class="disabled"><a href="#">Supplemental Instructions</a></li>
			<li class="disabled"><a href="#">Supplemental Instruction Log</a></li>
		</ul>
		</li>

		<li class="dropdown">
		<a class="dropdown-toggle" href="#" data-toggle="dropdown"
		>Meetings<span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li class="disabled"><a href="#">Action Items</a></li>
			<li class="disabled"><a href="#">OAC Meeting Minutes (current)</a></li>
			<li class="disabled"><a href="#">OAC Meeting Minutes Log</a></li>
		</ul>		
		</li>

		<li class="dropdown">
		<a class="dropdown-toggle" href="#" data-toggle="dropdown"
		>Reports<span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li onclick="casbah.view('site_report_fs.html')"><a href="#">Site Report</a></li>
			<li onclick="casbah.view('site_report_log_fs.html')"><a href="#">Site Report Log</a></li>
			<li class="divider"><li>
			<li onclick="casbah.view('deficiency_sheets.html')"><a href="#">Deficiency Sheets</a></li>
			<li onclick="casbah.view('deficiency_sheets_log.html')"><a href="#">Deficiency Sheets log</a></li>
			<li class="divider"><li>			
			<li class="disabled" id="rpllog-btn"><a href="#">Deficiency Reports</a></li>
			<li class="disabled" id="rpllog-btn"><a href="#">Deficiency Log</a></li>
			<li class="divider"><li>
			<li class="disabled" id="rfi-btn"><a href="#">RFI</a></li>	
			<li class="disabled" id="rfilog-btn"><a href="#">RFI Log</a></li>
		</ul>	
		</li>
		
		<li class="dropdown">
		<a id="shopstab" class="dropdown-toggle" href="#" data-toggle="dropdown"
		>Shops<span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li class="disabled"><a href="#">Submittal</a></li>
			<li class="disabled"><a href="#">Submittal Log</a></li>
			<li class="disabled"><a href="#">O &amp; M Manual Review</a></li>
		</ul>
		</li>

		<li class="dropdown">
		<a class="dropdown-toggle" id="welcometab"  href="#" data-toggle="dropdown" 
		onclick="casbah.view('welcome.html');"
		>Welcome<span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
			<li class="disabled"><a href="#">About</a></li>
			<li class="disabled"><a href="#">Help</a></li>
			<li onclick="casbah.view('project_log.html');"><a href="#"
			>Projects</a></li>
			<li onclick="casbah.view('wiki.html');casbah.tool('wikitools.html')"><a href="#">Wiki</a></li>		
			</ul>			
		</li>
		
		</ul>
	</div>


</nav>
<div id="BUMPER" >bumper</div>
<div id="VIEW"></div>


<div id="project_modal" class="modal fade" role="dialog" >
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Project Numbers</h4>
			</div>
			<div id="project_modal_content" class="modal-body" >
				<p>Placeholder for a small modal.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div >

<template id="project-ids-template" type="text/x-handlebars-template">
	<!--div class="container"-->
	<!--div class="panel panel-default page">
		<div class="panel-heading">Project Numbers</div>
		<div class="panel-body">
			<p>The following is a list of project numbers.  Click on project you wich to work on.</p><a onclick="alert('new project...');">Add a new project...</a>
		</div-->	
		<!-- List group -->
		<ul class="list-group">
		{{#each dirs}}
		<li class="list-group-item"
			onmouseenter="casbah.hi.light(this);" 
			onmouseleave="casbah.hi.dark(this);"	
			onclick="localStorage.setItem('project_number', $(event.target).text()); $('#project_modal').modal('hide');"
		>{{this}}</li>
		{{/each}}
		</ul>
	<!--/div-->
	<!--/div-->
</template>


<template id="project-data-template" type="text/x-handlebars-template">
	<div class="row marz row__"></div>

	{{#each rows}}
	
	<div class="row marz row" 
		onmouseenter="project.hi.light(this);" 
		onmouseleave="project.hi.dark(this);">
	<p class="col-xs-1 row-head marz">row</p>
	<div class="border-left col-xs-11 marz" >
	<p class="col-xs-2 row-head marz">Project#</p>
	<p class="col-xs-3 row-head marz">Project</p>
	<p class="col-xs-2 row-head marz">Client</p>
	<p class="col-xs-2 row-head marz">Date</p>
	<p class="col-xs-2 row-head marz">GC</p>
	</div>	
	</div>	
	
	<div class="row marz"
		rowid="{{rowid}}"
		onmouseenter="project.hi.light(this);"
		onmouseleave="project.hi.dark(this);"
		oncontextmenu="casbah.showMenu(project.menu, event)">

	<p 	rowid="{{rowid}}" class="col-xs-1 marz">{{plusOne @index}}</p>		
	<div class="border-left col-xs-11 marz" >
	<p 	class="col-xs-2 marz"
		field="pnum"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{project_id}}</p>
		
	<p 	class="col-xs-3 marz"
		field="pname"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{project_name}}</p>
		
	<p 	class="col-xs-2 marz"
		field="client"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{client}}</p>
		
	<p 	class="col-xs-2 marz"
		field="date"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{date}}</p>
		
	<p 	class="col-xs-2 marz"
		field="contractor"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{contractor}}</p>
	</div>	
	</div>
	
	<div class="row marz zebra-stripe" 
		onmouseenter="project.hi.light(this);" 
		onmouseleave="project.hi.dark(this);">
	<p class="col-xs-1 row-head marz">row</p>
	<div class="border-left col-xs-11 marz" >
	
	<p class="col-xs-2 row-head marz">Permit</p>
	<p class="col-xs-3 row-head marz">Address</p>
	<p class="col-xs-2 row-head marz">Status</p>
	<p class="col-xs-2 row-head marz">Date Done</p>
	<p class="col-xs-2 row-head marz">xdata</p>
	</div>	
	</div>
	
	<div class="row marz zebra-stripe"
		rowid="{{rowid}}"
		onmouseenter="project.hi.light(this);"
		onmouseleave="project.hi.dark(this);"
		oncontextmenu="casbah.showMenu(project.menu, event)">

	<p class="col-xs-1 marz ">{{plusOne @index}}</p>
	<div class="border-left marz col-xs-11">
	<p 	class="col-xs-2 marz"
		field="permit"
		rowid="{{rowid}}"
		style="height:100%;"
		onclick="project.click(this);">{{permit}}</p>	
			
	<p 	class="col-xs-3 marz"
		field="address"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{address}}</p>
		
	<p 	class="col-xs-2 marz"
		field="date_closed"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{date_closed}}</p>
		
	<p 	class="col-xs-2 marz"
		field="status"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{status}}</p>
		
	<p 	class="col-xs-2 marz"
		field="xdata"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{xdata}}</p>
	</div>		
	</div>
	{{/each}}	
</template>



</body>

</html>

