<!doctype html>

<style>
.picBox{ max-height:400px; max-width:100%;}
.columns2{column-count:2;}
.columns4{column-count:4;}
.checklistArch{column-count:4; line-height: 120%;font-size:10pt;}
.topMarginZero{margin-top:0;}
@media print {
   div.panel, div.panel-default {
        page-break-after: always !important;
   }
}
.segoe, h1, h2, h3, h4{font-family:segoe UI, sans-serif;}

</style>

<script type='text/javascript'>

//ensure project number set.  What about empty uploads folder ie. uninitialized 
if (typeof localStorage.getItem("project_number")=="undefined") {
 var pnum=prompt("Project number");
 if (pnum!=="" && pnum!=null) {localStorage.getItem("project_number", pnum)}
}

var deficiency_sheets={};

Handlebars.registerHelper("chop_extension", function(str, options){
	str=str.substring(0,str.indexOf("."));
	str=str.substring(str.lastIndexOf("\\")+1);
	return str;
});

deficiency_sheets.head=$("#deficiency_sheets_head").html();
Handlebars.registerHelper("deficiency_sheets_head", function(str, options){
	return deficiency_sheets.head;
});

deficiency_sheets.check=$("#deficiency_sheets_checks").html();
Handlebars.registerHelper("deficiency_sheets_checks", function(str, options){
	return deficiency_sheets.check;
});

deficiency_sheets.tblock=$("#deficiency_sheets_tblock").html();
Handlebars.registerHelper("deficiency_sheets_tblock", function(str, options){
	return deficiency_sheets.tblock;
});

deficiency_sheets.comments=$("#deficiency_sheets_comments").html();
Handlebars.registerHelper("deficiency_sheets_comments", function(str, options){
	return deficiency_sheets.comments;
});

Handlebars.registerHelper("plusOne", function(val,options){return parseInt(val)+1;});

deficiency_sheets.refresh=function(){
	//get images for deficiencySheets then
	//refresh with success function()...
	
	$.ajax({
		contentType: "application/x-www-form-urlencoded; charset=UTF-8",
		data: $.param({
			action:"FILES",
			extension:".PNG",
			project_number:localStorage.getItem("project_number"),
			report_type:"deficiency_sheets",
			report_name:localStorage.getItem("report_name")
		}),
		error:function(err){console.log("Error:",err.message);},
		success:function(result){
			console.log("result,", JSON.stringify(result));
			if(typeof result.files=="undefined") result.files=[];
			var html=deficiency_sheets.template(result);
			$("#deficiency_sheets_placeholder").html(html);
		},
		type: "POST",
		url: "/reports"		
	});	
};

	
deficiency_sheets.template=Handlebars.compile($("#deficiency_sheets").html());

deficiency_sheets.refresh();

</script>


<div id="deficiency_sheets_placeholder"></div>

<template id='deficiency_sheets' type="text/x-handlebars-template">

	<div class="container">
	{{#each files}}
	<div class="panel panel-default page">
	{{{deficiency_sheets_head}}}
	<div class="panel-heading"><h4>{{{chop_extension this}}}</h4></div>
	<div class="panel-body">
	{{{deficiency_sheets_tblock}}}
	{{{deficiency_sheets_checks}}}
	{{{deficiency_sheets_comments}}}
	<h3 class="topMarginZero">Plan</h3>
	<div class="col-xs-10"><img class="picBox" src="{{this}}" ></img></div>
	</div>
	<!-- div class="panel-footer"></div-->
	</div>
	{{/each}}
	</div>
</template>


<template id='deficiency_sheets_head' type="text/x-handlebars-template">
	<div class="row">
	<div class="col-xs-9"><img src="/uploads/logo.png"></div>	
	<div class="col-xs-3"><h2 class="topMarginZero segoe">DEFICIENCIES</h2></div>
	</div>
</template>

<template id='deficiency_sheets_checks' type="text/x-handlebars-template">
<h3 class="topMarginZero">Checklist</h3>
<div class="checklistArch">
[ ] construction clean<BR>
[ ] flooring<BR>
[ ] baseboard<BR>
[ ] gypsum finish paint<BR>
[ ] wall protection<BR>
[ ] wall pannelling<br>
[ ] rails BR CR HR<br>
[ ] frames<BR>
[ ] glass<BR>
[ ] caulking<BR>
[ ] door leaf<BR>
[ ] door HW<BR>
[ ] WR accessories<br>
[ ] WR drain<br>
[ ] WR grab-bars<br>
[ ] WR sink<BR>
[ ] WR toilet<BR>
[ ] WR tile<br>
[ ] headwall<br>
[ ] ceiling tiles<BR>
[ ] lights<BR>
[ ] exit-signs strobes<BR>
[ ] sprinklers<br>
</div>


</template>

<template id='deficiency_sheets_tblock' type="text/x-handlebars-template">
<div class="row">
<span class="col-xs-3">NORR:</span>
<span class="col-xs-3">BCCL:</span>
<span class="col-xs-3">SMH:</span>
<span class="col-xs-3">DATE:</span>
</div>
</template>

<template id='deficiency_sheets_comments' type="text/x-handlebars-template">
<h3 class="topMarginZero">Comments</h3>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
</template>


