<!doctype html>


<style>
.picBox{ max-height:400px; max-width:100%;}
.columns2{column-count:2;}
.columns4{column-count:4;}
.checklistArch{column-count:4; line-height: 120%;font-size:10pt;}
.topMarginZero{margin-top:0;}
@media print {
   div.panel, div.panel-default {
        page-break-after: always !important;
   }
}
.segoe, h1, h2, h3, h4{font-family:segoe UI, sans-serif;}

</style>

<script type='text/javascript'>


Handlebars.registerHelper("deficiencySheetsLogHead", function(str, options){
	return $("#deficiency_sheets_log_head").html();
});

var deficiency_sheets_log={};

deficiency_sheets_log.ajax=function(action, arg, callback){
	//call to server for information...
	$.ajax({	
		data:jQuery.param({action:action, arg:arg}),
		contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
		error:function(err){console.log("Error getting deficiency sheets log:",err);},
		success:function(result){ 
			if(typeof result.files=="undefined") result.files=[];
			if(typeof callback=="function") callback(result);
		},
		type:"POST",
		url:"/deficiencySheetsLog",
	});	
};

deficiency_sheets_log.hi=new casbah.Highlighter("highlite");

deficiency_sheets_log.refresh=function(){
	//read room images
	//casbah.deficiencySheetsLog("DIRS", null, function(result){
	this.ajax("DIRS", null, function(result){
		//result = {dirs:["name1","name2"...]}
		var html=deficiency_sheets_log.template(result);
		$("#deficiency_sheets_log_placeholder").html(html);
	});
};

deficiency_sheets_log.add=function(){
	var name=prompt("Name of new deficiency sheet-set");
	if (name!="" && name !=null){
		//casbah.deficiencySheetsLog("ADD", name, function(result){
		this.ajax("ADD", name, function(result){
			var html=deficiency_sheets_log.template(result);
			$("#deficiency_sheets_log_placeholder").html(html);
		});
	}
}

deficiency_sheets_log.goto=function(name){
	//alert("going to deficiency sheetset " + name);
	$PP.set("deficiencySheetsName", name);
	casbah.view("deficiency_sheets.html");
}

deficiency_sheets_log.template=Handlebars.compile($("#deficiency_sheets_log").html());


deficiency_sheets_log.refresh();


</script>

<div id="deficiency_sheets_log_placeholder"></div>

<template id='deficiency_sheets_log' type="text/x-handlebars-template">
	<div class="container">{{{deficiencySheetsLogHead}}}
	<div class="panel panel-default page">
	<div class="panel-heading"  >project name</div>
	<div class="panel-body">
	The following is a list of deficiency sheet-sets for this project.  Click on each one to open.  Drop image files on each one to ammend.  Click <a onclick="deficiency_sheets_log.add();">here</a> to create a new sheet-set. 
	</div>	
	<!-- List group -->
	<ul class="list-group">
	{{#each dirs}}
	<li class="list-group-item"
		deficiencySheetsName={{this}}
		onmouseenter="deficiency_sheets_log.hi.light(this);" 
		onmouseleave="deficiency_sheets_log.hi.dark(this);"	
		onclick="deficiency_sheets_log.goto($(this).text());"
	>{{this}}</li>
	{{/each}}
	</ul>
	</div>
	</div>
</template>


<template id='deficiency_sheets_log_head' type="text/x-handlebars-template">
	<div class="row">
	<div class="col-xs-8"><img src='/uploads/logo.png'></div>	
	<div class="col-xs-4"><h2 class="topMarginZero segoe">DEFICIENCY SHEETS LOG</h2></div>
	</div>
</template>


