<!doctype html>


<style>
.picBox{ max-height:400px; max-width:100%;}
.columns2{column-count:2;}
.columns4{column-count:4;}
.checklistArch{column-count:4; line-height: 120%;font-size:10pt;}
.topMarginZero{margin-top:0;}
@media print {
   div.panel, div.panel-default {
        page-break-after: always !important;
   }
}
.segoe, h1, h2, h3, h4{font-family:segoe UI, sans-serif;}

</style>

<script type='text/javascript'>

var deficiency_sheets_log={};

deficiency_sheets_log.head=$("#deficiency_sheets_log_head").html();
Handlebars.registerHelper("deficiencySheetsLogHead", function(str, options){
	return deficiency_sheets_log.head;
});

deficiency_sheets_log.ajax=function(action, argo, callback){
	//call to server for information...
	//action = "ADD"|"DIRS"|"UPLOAD"
	//arg = "name"|{name:}
	//arg0 = {arg:"name", arg1:files_obj}
	//var p={action:action, arg:arg}
	var pnum=localStorage.getItem("project_number");
	if (typeof pnum=="undefined" || pnum==null){
		pnum = prompt("Project number required");
		localStorage.setItem("project_number", pnum);
	}
	
	var p=$.extend({action:action, project_number:pnum}, argo);
	
	$.ajax({
		data:jQuery.param(p, true),
		contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
		error:function(err){console.log("Error getting deficiency sheets log:",err);},
		success:function(result){ 
			if(typeof result.files=="undefined") result.files=[];
			if(typeof callback=="function") callback(result);
		},
		type:"POST",
		//url:"/deficiencySheetsLog"
		url:"/reports"
	});	
};

deficiency_sheets_log.hi=new casbah.Highlighter("highlite");

deficiency_sheets_log.refresh=function(){
	//read room images
	//casbah.deficiencySheetsLog("DIRS", null, function(result){
	this.ajax("LOG", {report_type:"deficiency_sheets"}, function(result){
		//result = {dirs:["name1","name2"...]}
		var html=deficiency_sheets_log.template(result);
		$("#deficiency_sheets_log_placeholder").html(html);
	});
};

deficiency_sheets_log.add=function(){
	var name=prompt("Name of new deficiency sheet-set");
	if (name!="" && name !=null){
		//casbah.deficiencySheetsLog("ADD", name, function(result){
		this.ajax("ADD", {arg:name}, function(result){
			var html=deficiency_sheets_log.template(result);
			$("#deficiency_sheets_log_placeholder").html(html);
		});
	}
};

deficiency_sheets_log.goto=function(ev){
	//alert("going to deficiency sheetset " + name);
	var name=$(ev.target).text();
	$PP.set("deficiencySheetsName", name);
	casbah.view("deficiency_sheets.html");
};

deficiency_sheets_log.drop=function(ev){

	ev.preventDefault();

	var fd=new FormData();
	//load up form data with dropped files...
	for (var i = 0; i < ev.dataTransfer.files.length; i++) {
		console.log("name:", ev.dataTransfer.files[i].name);
		console.log("filetype:", ev.dataTransfer.files[i].type);
		fd.append(ev.dataTransfer.files[i].name, ev.dataTransfer.files[i]);
	}
	fd.append("action","UPLOAD");
	fd.append("project_number",localStorage.getItem("project_number"));
	fd.append("report_type","deficiency_sheets");
	fd.append("report_name", $(ev.target).text()); //get from DIV element
	//SEE https://stackoverflow.com/questions/2320069/jquery-ajax-file-upload
	//Also, to prevent error 'append called on an object that does not implement interface FormData', add processData:false
	fd.append("upload_file",true);
	
	$.ajax({	
		data:fd,
		contentType:false,
		error:function(err){console.log("Error uploading:",err);},
		processData:false, 
		success:function(result){ console.log("Success uploading");},
		type:"POST",
		//url:"/deficiencySheetsLog"
		url:"/reports"
	});	
};


deficiency_sheets_log.template=Handlebars.compile($("#deficiency_sheets_log").html());


deficiency_sheets_log.refresh();


</script>

<div id="deficiency_sheets_log_placeholder"></div>

<template id='deficiency_sheets_log' type="text/x-handlebars-template">
	<div class="container">{{{deficiencySheetsLogHead}}}
	<div class="panel panel-default page">
	<div class="panel-heading"  >project name</div>
	<div class="panel-body">
	The following is a list of deficiency sheet-sets for this project.  Click on each one to open.  Drop image files on each one to ammend.  Click <a onclick="deficiency_sheets_log.add();">here</a> to create a new sheet-set. 
	</div>	
	<!-- List group -->
	<ul class="list-group">
	{{#each dirs}}
	<li class="list-group-item"
		onmouseenter="deficiency_sheets_log.hi.light(this);" 
		onmouseleave="deficiency_sheets_log.hi.dark(this);"	
		ondragover="deficiency_sheets_log.hi.light(this);" 
		ondragleave="deficiency_sheets_log.hi.dark(this);"	
		onclick="deficiency_sheets_log.goto(event);"
		ondrop="deficiency_sheets_log.drop(event);"
		
	>{{this}}</li>
	{{/each}}
	</ul>
	</div>
	</div>
   
</template>


<template id='deficiency_sheets_log_head' type="text/x-handlebars-template">
	<div class="row">
	<div class="col-xs-8"><img src='/uploads/logo.png'></div>	
	<div class="col-xs-4"><h2 class="topMarginZero segoe">DEFICIENCY SHEETS LOG</h2></div>
	</div>
</template>



