<!doctype html>

<script type='text/javascript'>


var project={};

//Open text editor...
project.click=function(el){
	project.ed.text(el, function(){
		project.update(project.ed.row(), project.ed.rowid(), true); 
		project.ed.hide();
	});
};

project.update=function(row, rowid, flag){
	console.log("Project update ROW:",row," ROWID:", rowid);
	//TODO...
};

project.refresh=function(){
	$.ajax({
		contentType: "application/x-www-form-urlencoded; charset=UTF-8",
		data: $.param({
			action:"PROJECTS", 
			filter:{},
			project_id:(localStorage.getItem("project_id") || localStorage.getItem("project_number") || "BLDG-001")
		}),
		error: function(err){ console.log("Error", err);},
		success: function(result){
			result={rows:[{
				project_id:"BLDG-001", 
				project_name:"Casbah Building",
				address:"101 Desert Way, The Ville",
				contractor:"CasbahCon"
			}]};
			//casbah.renderFX("project-content", project.content, result, delta);
			$("#project-placeholder").html(project.template(result));
		},
		type:"POST",
		url:"/uploads"
	});
});

//Menu action
project.current=function(el){
	var pid=$("[rowid="+project.hi.rowid()+"]").find("[field=project_id]").text();
	alert("Current Project:",pid);
	localStore.setItem("Project_id", pid);
};

// text editor
project.ed=new casbah.Editor();

// highligher
project.hi=new casbah.Highlighter("highlite");

// initialize context menu...
project.menu=$("#project-menu").menu().css("position","absolute", "width", "200px").hide();

//load templates and render...
$.get("views/document_header.html", function(htm){
	//beware - this is asynchronous so risk of project.header being undefined if called outside this function
	project.header_template=Handlebars.compile(htm);
	$("#project-header-placeholder").html(project.header_template(result));
	//casbah.renderFX("project-header", project.header, {dtype:$PP.get("$dtype")});
});

project.template=Handlebars.compile($("#project-template").html());
project.refresh();

</script>
</head>
<body>

<!-- PAGE -->

<div class="container">
	<div id="project-header">placeholder</div>
	<div id="project-placeholder">placeholder</div>
	<br><br><br><br>
</div>


<template id="project-template" type="text/x-handlebars-template">
	<div class="row marz row__"></div>

	{{#each rows}}
	
	<div class="row marz row" 
		onmouseenter="project.hi.light(this);" 
		onmouseleave="project.hi.dark(this);">
	<p class="col-xs-1 row-head marz">row</p>
	<div class="border-left col-xs-11 marz" >
	<p class="col-xs-2 row-head marz">Project#</p>
	<p class="col-xs-3 row-head marz">Project</p>
	<p class="col-xs-2 row-head marz">Client</p>
	<p class="col-xs-2 row-head marz">Date</p>
	<p class="col-xs-2 row-head marz">GC</p>
	</div>	
	</div>	
	
	<div class="row marz"
		rowid="{{rowid}}"
		onmouseenter="project.hi.light(this);"
		onmouseleave="project.hi.dark(this);"
		oncontextmenu="casbah.showMenu(project.menu, event)">
	<p 	rowid="{{rowid}}" class="col-xs-1 marz">{{plusOne @index}}</p>		
	<div class="border-left col-xs-11 marz" >
	<p 	class="col-xs-2 marz"
		field="project_id"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{project_id}}</p>
		
	<p 	class="col-xs-3 marz"
		field="project_name"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{project_title}}</p>
		
	<p 	class="col-xs-2 marz"
		field="client"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{client}}</p>
		
	<p 	class="col-xs-2 marz"
		field="date"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{date}}</p>
		
	<p 	class="col-xs-2 marz"
		field="contractor"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{contractor}}</p>
	</div>	
	</div>
	
	<div class="row marz zebra-stripe" 
		onmouseenter="project.hi.light(this);" 
		onmouseleave="project.hi.dark(this);">
	<p class="col-xs-1 row-head marz">row</p>
	<div class="border-left col-xs-11 marz" >
	
	<p class="col-xs-2 row-head marz">Permit</p>
	<p class="col-xs-3 row-head marz">Address</p>
	<p class="col-xs-2 row-head marz">Status</p>
	<p class="col-xs-2 row-head marz">Date Done</p>
	<p class="col-xs-2 row-head marz">xdata</p>
	</div>	
	</div>
	
	<div class="row marz zebra-stripe"
		rowid="{{rowid}}"
		onmouseenter="project.hi.light(this);"
		onmouseleave="project.hi.dark(this);"
		oncontextmenu="casbah.showMenu(project.menu, event)">

	<p class="col-xs-1 marz ">{{plusOne @index}}</p>
	<div class="border-left marz col-xs-11">
	<p 	class="col-xs-2 marz"
		field="permit"
		rowid="{{rowid}}"
		style="height:100%;"
		onclick="project.click(this);">{{permit}}</p>	
			
	<p 	class="col-xs-3 marz"
		field="address"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{address}}</p>
		
	<p 	class="col-xs-2 marz"
		field="date_closed"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{date_closed}}</p>
		
	<p 	class="col-xs-2 marz"
		field="status"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{status}}</p>
		
	<p 	class="col-xs-2 marz"
		field="xdata"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{xdata}}</p>
	</div>		
	</div>
	{{/each}}	
</template>


<!-- MENUS -->
<ul id="project-menu" onmouseleave="project.menu.hide()" class="hide9999">
<li class="disabled" onclick="alert('Add...');">Add</li>
<li onclick="project.current();">Current</li>
<li onclick="project.menu.hide();project.refresh();">Refresh</li>
<li onclick="project.menu.hide()">Exit</li>
</ul >


