<!doctype html>

<script type='text/javascript'>


var project={};

//Open text editor...
project.click=function(el){
	project.ed.text(el, function(){
		project.update(project.ed.row(), project.ed.rowid(), true); 
		project.ed.hide();
	});
};

project.update=function(row, rowid, flag){
	console.log("Project update ROW:",row," ROWID:", rowid);
	//TODO...
};

project.refresh=function(){
	$.ajax({
		contentType: "application/x-www-form-urlencoded; charset=UTF-8",
		data: $.param({action:"PROJECT-SELECT"}),
		error: function(err){ console.log("Error", err);},
		success: function(result){
			//casbah.renderFX("project-content", project.content, result, delta);
			$("#project-placeholder").html(project.template(result));
		},
		type:"POST",
		url:"/uploads"
	});
};

//Menu action
project.current=function(){
	var caller=project.menu.menu("option","caller");
	var pid=$(caller).closest("[project_id]").attr("project_id");
	$("#browser_tab").text("CASBAH-"+pid);
	localStorage.setItem("project_id", pid);
};

// text editor
project.ed=new casbah.Editor();

// highligher
project.hi=new casbah.Highlighter("highlite");

// initialize context menu...
project.menu=$("#project-menu").menu().css("position","absolute", "width", "200px").hide();

//load templates and render...
$.get("views/header.html", function(htm){
	//beware - this is asynchronous so risk of project.header being undefined if called outside this function
	project.header_template=Handlebars.compile(htm);
	$("#project-header-placeholder").html(project.header_template({doc_type:"Project Log"}));
});

project.template=Handlebars.compile($("#project-template").html());
project.refresh();

</script>
</head>
<body>

<!-- PAGE -->

<div class="container">
	<div id="project-header-placeholder">placeholder</div>
	<div id="project-placeholder">placeholder</div>
	<br><br><br><br>
</div>


<template id="project-template" type="text/x-handlebars-template">
	<div class="row marz row__"></div>

	{{#each projects}}
	
	<div class="row marz row zebra" >
	<small class="col-xs-1 row-head marz">row</small>
	<div class="border-left col-xs-11 marz" >
	<span class="col-xs-2 row-head marz">Project No.</span>
	<span class="col-xs-3 row-head marz">Project</span>
	<span class="col-xs-2 row-head marz">Owner</span>
	<span class="col-xs-2 row-head marz">Date</span>
	<span class="col-xs-2 row-head marz">GC</span>
	</div>	
	</div>	
	
	<div class="row marz"
		project_id="{{dir}}"
		onmouseenter="project.hi.light(this);"
		onmouseleave="project.hi.dark(this);"
		oncontextmenu="casbah.showMenu(project.menu, event)">
	<p 	rowid="{{rowid}}" class="col-xs-1 marz">{{plusOne @index}}</p>		
	<div class="border-left col-xs-11 marz" >
	<p 	class="col-xs-2 marz"
		field="project_id"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{project_id}}</p>
		
	<p 	class="col-xs-3 marz"
		field="project_name"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{project_name}}</p>
		
	<p 	class="col-xs-2 marz"
		field="client"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{owner}}</p>
		
	<p 	class="col-xs-2 marz"
		field="date"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{date}}</p>
		
	<p 	class="col-xs-2 marz"
		field="contractor"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{contractor}}</p>
	</div>	
	</div>
	
	<div class="row marz">
	<p class="col-xs-1 row-head marz">&nbsp;</p>
	<div class="border-left col-xs-11 marz" >
	
	<p class="col-xs-2 row-head marz">Permit</p>
	<p class="col-xs-3 row-head marz">Address</p>
	<p class="col-xs-2 row-head marz">Status</p>
	<p class="col-xs-2 row-head marz">Date Done</p>
	<p class="col-xs-2 row-head marz">xdata</p>
	</div>	
	</div>
	
	<div class="row marz"
		project_id="{{dir}}"
		onmouseenter="project.hi.light(this);"
		onmouseleave="project.hi.dark(this);"
		oncontextmenu="casbah.showMenu(project.menu, event)">

	<p class="col-xs-1 marz ">&nbsp;</p>
	<div class="border-left marz col-xs-11">
	<p 	class="col-xs-2 marz"
		field="permit"
		rowid="{{rowid}}"
		style="height:100%;"
		onclick="project.click(this);">{{permit}}</p>	
			
	<p 	class="col-xs-3 marz"
		field="address"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{address}}</p>
		
	<p 	class="col-xs-2 marz"
		field="date_closed"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{date_closed}}</p>
		
	<p 	class="col-xs-2 marz"
		field="status"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{status}}</p>
		
	<p 	class="col-xs-2 marz"
		field="xdata"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{xdata}}</p>
	</div>		
	</div>
	{{/each}}	
</template>


<!-- MENUS -->
<ul id="project-menu" onmouseleave="project.menu.hide()" class="hide9999">
<li class="disabled" onclick="alert('Add...');">Add</li>
<li onclick="project.current();">Current</li>
<li onclick="project.menu.hide();project.refresh();">Refresh</li>
<li onclick="project.menu.hide()">Exit</li>
</ul >


