<!doctype html>

<script type='text/javascript'>


var project={};

//action that starts text editor
project.click=function(el){
	project.ed.text(el, function(){
		//dblclick handler - save edit
		//project.tv.update(project.ed.row(), project.ed.rowid(), true); 
		//project.ed.hide();
	});
};



// text editor
project.ed=new casbah.Editor();

// highligher
project.hi=new casbah.Highlighter("highlite");

project.refresh=function(){
	//read upload folder
	
	$.ajax({	
		data:$.param({
			action:"PROJECTS",
			resultas:"projects"
		}),
		contentType:false,
		error:function(err){console.log("Error:",err);},
		processData:false, 
		success:function(result){ 
			//result - [{pnum:"", pname:"", ...},{...},{...}...]
			//console.log("Success");
			//casbah.renderFX("project_content", project.content, result, delta);
			$("#project_numbers").html(this.template_numbers(result));
			//$("#project_numbers").dialog();
		},
		type:"POST",
		url:"/uploads"
	});	
}


project.template_numbers=Handlebars.compile($("#project_numbers").html());


/////////////////////////////////
project.refresh();


</script>

<!-- PAGE -->


<div id="project_numbers">placeholder</div>


<template id="project_numbers" type="text/x-handlebars-template">
	<div class="container">
	
	<div class="panel panel-default page">
	<div class="panel-heading">Project Numbers</div>
	<div class="panel-body">
	The following is a list of project numbers.  Click on project you wich to work on. Double click on project to view details<br>
	<a onclick="deficiency_sheets_log.add();">Add a new project...</a><br> 
	<a onclick="deficiency_sheets_log.project_select();">Select another project...</a> 
	</div>	
	<!-- List group -->
	<ul class="list-group">
	{{#each projects}}
	<li class="list-group-item"
		onmouseenter="deficiency_sheets_log.hi.light(this);" 
		onmouseleave="deficiency_sheets_log.hi.dark(this);"	
		onclick="deficiency_sheets_log.goto(event);"
	>{{this}}</li>
	{{/each}}
	</ul>
	</div>
	</div>
</template>

<template id="project_detail" type="text/x-handlebars-template">
	<div class="row marz row__"></div>

	{{#each rows}}
	
	<div class="row marz row" 
		onmouseenter="project.hi.light(this);" 
		onmouseleave="project.hi.dark(this);">
	<p class="col-xs-1 row-head marz">row</p>
	<div class="border-left col-xs-11 marz" >
	<p class="col-xs-2 row-head marz">Project#</p>
	<p class="col-xs-3 row-head marz">Project</p>
	<p class="col-xs-2 row-head marz">Client</p>
	<p class="col-xs-2 row-head marz">Date</p>
	<p class="col-xs-2 row-head marz">GC</p>
	</div>	
	</div>	
	
	<div class="row marz"
		rowid="{{rowid}}"
		onmouseenter="project.hi.light(this);"
		onmouseleave="project.hi.dark(this);"
		oncontextmenu="casbah.showMenu(project.menu, event)">

	<p 	rowid="{{rowid}}" class="col-xs-1 marz">{{plusOne @index}}</p>		
	<div class="border-left col-xs-11 marz" >
	<p 	class="col-xs-2 marz"
		field="pnum"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{pnum}}</p>
		
	<p 	class="col-xs-3 marz"
		field="pname"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{pname}}</p>
		
	<p 	class="col-xs-2 marz"
		field="client"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{client}}</p>
		
	<p 	class="col-xs-2 marz"
		field="date"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{date}}</p>
		
	<p 	class="col-xs-2 marz"
		field="contractor"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{contractor}}</p>
	</div>	
	</div>
	
	<div class="row marz zebra-stripe" 
		onmouseenter="project.hi.light(this);" 
		onmouseleave="project.hi.dark(this);">
	<p class="col-xs-1 row-head marz">row</p>
	<div class="border-left col-xs-11 marz" >
	
	<p class="col-xs-2 row-head marz">Permit</p>
	<p class="col-xs-3 row-head marz">Address</p>
	<p class="col-xs-2 row-head marz">Status</p>
	<p class="col-xs-2 row-head marz">Date Done</p>
	<p class="col-xs-2 row-head marz">xdata</p>
	</div>	
	</div>
	
	<div class="row marz zebra-stripe"
		rowid="{{rowid}}"
		onmouseenter="project.hi.light(this);"
		onmouseleave="project.hi.dark(this);"
		oncontextmenu="casbah.showMenu(project.menu, event)">

	<p class="col-xs-1 marz ">{{plusOne @index}}</p>
	<div class="border-left marz col-xs-11">
	<p 	class="col-xs-2 marz"
		field="permit"
		rowid="{{rowid}}"
		style="height:100%;"
		onclick="project.click(this);">{{permit}}</p>	
			
	<p 	class="col-xs-3 marz"
		field="address"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{address}}</p>
		
	<p 	class="col-xs-2 marz"
		field="date_closed"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{date_closed}}</p>
		
	<p 	class="col-xs-2 marz"
		field="status"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{status}}</p>
		
	<p 	class="col-xs-2 marz"
		field="xdata"
		rowid="{{rowid}}"
		onclick="project.click(this);">{{xdata}}</p>
	</div>		
	</div>
	{{/each}}	
</template>


<!-- MENUS -->
<ul id="project-menu" onmouseleave="project.menu.hide()" class="hide9999">
<li onclick="project.tv.add(true);">Add</li>
<li onclick="project.open();">Current</li>
<li onclick="project.menu.hide();project.tv.refresh();">Refresh</li>
<li onclick="project.menu.hide()">Exit</li>
</ul>


