<!doctype html>

<script type='text/javascript'>

var srlog={};

//text editor
srlog.ed=new casbah.Editor();

srlog.edit=function(el){
	srlog.ed.text(el, function(){
		//function called on dbl-click
		srlog.tv.update(srlog.ed.row(), srlog.ed.rowid(), true); 
		srlog.ed.hide();
	});
};

srlog.hi=new casbah.Highlighter("highlite");

srlog.open=function(el){
	//update parameter project number pnum from the selected row
	//var dnum=$("[rowid="+svrlog.hi.rowid()+"]").find("[field=dnum]").text();
	//$PP.store("$dnum",dnum);
	//$("#reportdock").load("views/site_visit_report.html");

	var folder="site_reports\\"+$(el).attr("document_id");
	localStorage.setItem("tab","reports");
	localStorage.setItem("folder", folder);
	casbah.view("views\\site_report_fs.html");
};

//TableViews
srlog.refresh_content=function(result, delta){
	$.ajax({
		contentType: "application/x-www-form-urlencoded; charset=UTF-8",
		data: $.param({
			action:"SITE_REPORTS", 
			filter:{},
			project_id:(localStorage.getItem("project_id") || localStorage.getItem("project_number") || "BLDG-001")
		}),
		error: function(err){ console.log("Error", err);},
		success: function(result){
			$("#srlog-content").html(srlog.content(result));
		},
		type:"POST",
		url:"/uploads"
	});
};

srlog.refresh_titleblock=function(){
	$.ajax({
		contentType: "application/x-www-form-urlencoded; charset=UTF-8",
		data: $.param({
			action:"PROJECTS", 
			filter:{},
			project_id:(localStorage.getItem("project_id") || localStorage.getItem("project_number") || "BLDG-001")
		}),
		error: function(err){ console.log("Error", err);},
		success: function(result){
			result={rows:[{
				project_id:"BLDG-001", 
				project_name:"Casbah Building",
				address:"101 Desert Way, The Ville",
				contractor:"CasbahCon"
			}]};
	
			$("#srlog-titleblock").html(srlog.titleblock(result));
		},
		type:"POST",
		url:"/uploads"
	});
	
};


///////////////////////////////////////////
//load templates and compile...
$.get("views/document_header.html", function(htm){
	//beware - this function is asynchronous so srlog.header may not yet be defined if called outside this function
	//console.log('HEADER LOADED...');
	srlog.header=Handlebars.compile(htm);
	$("#srlog-header").html(srlog.header({doc_type:"Site Review Log"}));
	
});
srlog.titleblock=Handlebars.compile($("#srlog-titleblock-template").html());
srlog.content=Handlebars.compile($("#srlog-content-template").html());


///////////////
// Render page
srlog.refresh_titleblock(srlog.titleblock);
srlog.refresh_content();



</script>
</head>
<body>

<!-- PAGE -->

<div class="container">
	<div id="srlog-header">header</div>
	<div id="srlog-titleblock">titleblock</div>
	<br>
	<div id="srlog-content">content</div>
</div>

<template id="srlog-content-template" type="text/x-handlebars-template">
	<div class="row marz row_" 
		onmouseenter="srlog.hi.light(this);" 
		onmouseleave="srlog.hi.dark(this);"
		onclick="srlog.newReport(this)">
	<p class="col-xs-1 row-head marz">row</p>	
	<p class="col-xs-2 border-left row-head marz">SVR No. / by</p>
	<p class="col-xs-3 row-head marz">title / comment ids</p>
	<p class="col-xs-3 row-head marz">review date / issue ids</p>
	<p class="col-xs-3 row-head marz">publish date / photo ids</p>
	</div>

	{{#each rows}}
	
	<div class="row marz"
		id="sr{{rowid}}"
		rowid="{{rowid}}"
		onmouseenter="srlog.hi.light(this);"
		onmouseleave="srlog.hi.dark(this);"
		document_id={{document_id}}
		onclick="srlog.open(this)">

	<p 	rowid="{{rowid}}" class="col-xs-1 marz">{{plusOne @index}}</p>		
	
	<div class="border-left col-xs-11 marz" >
	<p 	class="col-xs-2 marz"
		field="dnum"
		rowid="{{rowid}}"
		onclick="srlog.edit(this);">{{dnum}}</p>
		
	<p 	class="col-xs-3 marz"
		field="dtitle"
		rowid="{{rowid}}"
		onclick="srlog.edit(this);">{{dtitle}}</p>
		
	<p 	class="col-xs-3 marz"
		field="date"
		rowid="{{rowid}}"
		onclick="srlog.edit(this);">{{date}}</p>
		
	<p 	class="col-xs-3 marz"
		field="date_issued"
		rowid="{{rowid}}"
		onclick="srlog.edit(this);">{{date_issued}}</p>
	</div>	
	</div>

	<div class="row marz zebra-stripe"
		id="sr{{rowid}}"
		rowid="{{rowid}}"
		onmouseenter="srlog.hi.light(this);"
		onmouseleave="srlog.hi.dark(this);"
		document_id={{document_id}}
		oncontextmenu="srlog.open(this)">

	<p class="col-xs-1 marz "></p>
	<div class="border-left marz col-xs-11">
	<p 	class="col-xs-2 marz"
		field="by"
		rowid="{{rowid}}"
		style="height:100%;"
		onclick="srlog.edit(this);">{{by}}</p>	
			
	<p 	class="col-xs-3 marz"
		field="comment.ids"
		rowid="{{rowid}}"
		onclick="srlog.edit(this);">{{comment_ids}}</p>
		
	<p 	class="col-xs-3 marz"
		field="issue.ids"
		rowid="{{rowid}}"
		onclick="srlog.edit(this);">{{issue_ids}}</p>
		
	<p 	class="col-xs-3 marz"
		field="picture.ids"
		rowid="{{rowid}}"
		onclick="srlog.edit(this);">{{picture_ids}}</p>	
	</div>		
	</div>
	{{/each}}	
</template>

<template id="srlog-titleblock-template" type="text/x-handlebars-template">
{{#each rows}}
<div class="row row__">
	<strong class="col-xs-2">Project No.:</strong>
	<p class="col-xs-4">{{project_id}}</p>
	<!--strong id="docTitle" class="col-xs-2">Doc No.</strong>
	<p class="col-xs-4">{{dnum}}</p-->
</div>

<div class="row row_">
	<strong class="col-xs-2">Project Name:</strong>
	<p class="col-xs-4">{{project_name}}</p>
	<!--strong id="docTitle" class="col-xs-2">Doc title:</strong>
	<p class="col-xs-4">{{dtitle}}</p-->
</div>

<div class="row row_">
	<strong class="col-xs-2">Project Location:</strong>
	<p class="col-xs-4">{{address}}</p>
	<!--strong id="publish_date" class="col-xs-2">Issue date:</strong>
	<p class="col-xs-4">{{date_issued}}</p-->
</div>

<div class="row row_">
	<strong class="col-xs-2">Contractor:</strong>
	<p class="col-xs-4">{{contractor}}</p>
	<!--strong id="docBy" class="col-xs-2">By:</strong>
	<p class="col-xs-4">{{by}}</p-->
</div>
{{/each}}
</template>


