<div class="row">
	<div class="btn-group" role="group" aria-label="...">
		<button type="label" class="btn btn-default" aria-label="Left Align">
		<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true">
		</span>&nbsp;wiki</button>
		
		<button type="button" class="btn btn-default" aria-label="Left Align"
		onclick="wiki.add();"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</button>	
		
		<div class="input-group" >
		<span class="input-group-btn">
		<button class="btn btn-default" type="button">
		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		</button>
		</span>
		<input type="text" class="col-md-4 form-control" placeholder="Search for...">
		</div>
	</div>
</div>

